.footer {
  width: 100%;
  height: 30vh;
  
  background-image: url(../images/optimized/footer_opt.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include onDesktop {
    height: 45vh;
  }
}
