.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;

  &--middle-section {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 8px;
  }

  @include onTablet {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 24px;
  }

  @include onDesktop {
    grid-template-columns: repeat(12, 1fr);
  }

  &--display {
    display: block;

    @include onTablet {
      display: grid;
    }

    @include onDesktop {
      display: grid;
    }
  }

  &__item {
    &--form {
      grid-row: 1 / 3;
      justify-content: stretch;
    }
  }

  @for $start from 1 through 12 {
    @for $end from $start through 12 {
      @include onTablet {
        &__item--tablet-#{$start}-#{$end} {
          grid-column: #{$start} / #{$end + 1};
        }
      }

      @include onDesktop {
        &__item--desktop-#{$start}-#{$end} {
          grid-column: #{$start} / #{$end + 1};
        }
      }
    }
  }

  &__blur-load {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    &--picture-small-1 {
      background-image: url(../images/optimized/now-on-view-1-small.png);
    }

    &--picture-small-2 {
      background-image: url(../images/optimized/now-on-view-2-small.png);
    }

    &--picture-small-3 {
      background-image: url(../images/optimized/now-on-view-3-small.png);
    }

    &--picture-small-4 {
      background-image: url(../images/optimized/now-on-view-4-small.png);
    }

    &--picture-small-5 {
      background-image: url(../images/optimized/now-on-view-5-small.png);
    }

    &--picture-small-6 {
      background-image: url(../images/optimized/now-on-view-6-small.png);
    }

    &--picture-small-7 {
      background-image: url(../images/optimized/now-on-view-7-small.png);
    }

    & > img {
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }

    &.loaded > img {
      opacity: 1;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
